* {
    padding : 0px;
    margin : 0px;
    font-family: Arial;
}

.footer {
    display: flex;
    position: absolute;
    flex-direction: column;
    background-color: #ffc700;
    width: 100%;
    height: 400px;
}
.box_sub_footer {
    flex : 1;
    display : flex;
    flex-direction: row;
    gap: 20px;
}

.box_logo {
    flex: 30%;
    height: 100%;
}

.square1 {
    position: relative;
    height: 140px;
    width: 140px;
    background-color: #10a958;
    left: 220px;
    top: 30px;
}

.square2 {
    position: relative;
    height: 180px;
    width: 180px;
    background-color: #10a958;
    top: 60px;
    left: -20px;
}

.square2 p {
    position: relative;
    font-size: 25px;
    font-weight: bold;
}

.text_1 {
    top: 15px;
    left: -50px;
    transform: rotate(-90deg);
}

.text_2 {
    top: -50px;
    left: 60px;
}

.text_3 {
    top: 55px;
    right: -50px;
    transform: rotate(90deg);
}

.box_footer_details {
    flex: 40%;
    display: flex;
    flex-direction: column;
    height: 100%;
    gap: 20px;
}

.footer_details {
    flex: 75%;
    display: flex;
    flex-direction: row;
    gap: 20px;
}

.box_tagLine {
    flex: 70%;
    height: 100%;
    padding: 30px 10px;
}

.box_legal {
    flex: 25%;
    display: flex;
    flex-direction: column;
    padding: 30px 20px;
    gap: 20px;
    height: 60%;
    font-weight: bold;
}

.box_media p {
    display: inline-block;
    font-weight: bold;
    font-size: 18px;
}

.box_media {
    flex: 30%;
    display: flex;
    flex-direction: row;
    justify-content: space-around;   
}

.box_up_button {
    display: flex;
    align-items: center;
    flex: 30%;
    height: 100%;
}

.up_button {
    background-color: black;
    border: none;
    height: 50px;
    width: 50px;
    border-radius: 25px;
}

@keyframes slide {
    from {transform: translateX(0);}
    to {transform: translateX(-100%);}
}

.slide_bar {
    overflow: hidden;
    padding: 10px 0px;
    white-space: nowrap;
}

.slide_bar_elements p {
    display: inline;
    margin: 0px 5px;
}

.slide_bar_elements {
    display: inline-block;
    font-weight: bold;
    animation: 8s slide infinite linear;
}

.box_message_icon {
    display: flex;
    position: fixed;
    bottom: 25px;
    right: 25px;
    background-color: gray;
    width: 60px;
    height: 60px;
    border: none;
    border-radius: 30px;
    align-items: center;
    justify-content: center;
    cursor: pointer;
}

